// background colors
$primary_background_color: #1c1c1c;
$green_color: #04946c;

// font colors
$primary_text_color: #ffffff;

// FONT
$default-font-size: 1.6rem;

// Margin
$margin-top-1: 1rem;
$margin-top-2: 2rem;
$margin-top-3: 3rem;
$margin-top-4: 4rem;
$margin-top-5: 5rem;

// Heading font size
$h1-size: 7.5rem;
$h2-size: 5.5rem;
